.post-item {
  margin-bottom: 30px;

  a {
    text-decoration: none;
    color: #789093;
  }

  &__title {
    font-size: 20px;
    color: #173e46;
    margin-bottom: 5px;

    &:hover {
      color: #4d6e74;
    }
  };

  &__reactions {
    margin-top: 3px;
    color: #4d9ba9;
  };

  &__tags {
    color: #4d9ba9;
    margin-top: 15px;

    &__tag {
      padding-right: 10px;
    }
  };
}
